<%- include('partials/_header') -%>

<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">

			<%- include('partials/_navigation') -%>

			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto"> </p>                	
				</div>                
            </div>

			<!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
		</div>

		<!-- Page content -->
		<div class="container">
			<div class="mx-auto tm-content-container">
				<main>
					<div class="row mb-5 pb-4">
						<div class="col-12">
							<!-- Video player 1422x800 -->

							<video width="1420" height="800" controls="controls" >
 
								<div id="tm-video-container">
									<img src="../public/img/charles-leclerc-ferrari-at-the-1.jpg" alt="">
								</div>
								
								<i id="tm-video-control-button" class="fas fa-pause"></i>
							   </video>
						</div>
					</div>

					<div class="row mb-5 pb-5">
						
						<div class="col-xl-8 col-lg-7">
							<!-- Video description -->
							<div class="tm-video-description-box">
								<h2 class="mb-5 tm-video-title">FORMULA 1</h2>
								<p class="mb-4">Formula 1 (Formula Bir veya F1 olarak da bilinir); tek kişilik, açık tekerlekli otomobil yarışlarının en yüksek düzeyini oluşturan yarışlar dizisidir.
									F1; bir yıl boyunca, her birine Grand Prix adı verilen ve değişik ülkelerde özel yollarda koşulan yarışlardan oluşur. Yıl sonunda toplanan puanlara göre Pilotlar Şampiyonluğu ile Takımlar Şampiyonası (Otomobil Yapımcıları Birinciliği) ödülleri verilir.
									Yarışları Jean Todt'un başkanlığını yaptığı FIA (Uluslararası Otomobil Federasyonu) düzenler. 
									F1'in geçmişinde yarışların çoğunluğu Avrupa'da yapılmış olmasına karşın, son yıllarda artan sayıda yarışlar
									 Avrupa dışına kaydırılmaktadır. Bunda ana neden, FIA'nın gelişen yeni pazarlara açılmak istemesi olsa da, 
									 yasal düzenlemelerin AB ülkelerindeki kadar sıkı olmadığı ülkelerin çekiciliği de bu kararda etkin olmuştur. 
									 Son yıllarda AB'deki yarışlarda, sağlık gerekçeleriyle tütün ürünlerinin tanıtımlarının yasaklanması, 
									 ölümle sonuçlanan bazı kazaların yerel savcılıklarca (takımların savsaması sonucu olup olmadığının) soruştur FIA'ca hoş karşılanmamıştır. 
									Dünyanın en çok izlenen spor dallarındandır. 2010 yılında dünya çapında 527 milyon televizyon izleyicisine ulaşmıştır.
								</p>	
							</div>							
						</div>
					
					</div>
					<div class="row pt-4 pb-5">
						<div class="col-12">
							<h2 class="mb-5 tm-text-primary">Related Videos for You</h2>
							<div class="row tm-catalog-item-list">



								<% for (let i = 0; i < photos.length; i++) { %>
									<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
										<div class="position-relative tm-thumbnail-container">
											<img src="<%= photos[i].image %>" alt="Image" class="img-fluid tm-catalog-item-img">    
											<a href="/photos/<%= photos[i]._id %>" class="position-absolute tm-img-overlay">
												<i class="fas fa-play tm-overlay-icon"></i>
											</a>
										</div>    
										<div class="p-4 tm-bg-gray tm-catalog-item-description">
											<h3 class="tm-text-primary mb-3 tm-catalog-item-title"> <%= photos[i].title %> </h3>
											<p class="tm-catalog-item-text"> <%= photos[i].description %> </p>
										</div>
									</div>
									<% } %> 
									
								</div>
							</div>
						</div>
					</main>
	
					<%- include('partials/_footer') -%>

					


					

					<script>
						function setVideoSize() {
							const vidWidth = 1920;
							const vidHeight = 1080;
							let windowWidth = window.innerWidth;
							let newVidWidth = windowWidth;
							let newVidHeight = windowWidth * vidHeight / vidWidth;
							let marginLeft = 0;
							let marginTop = 0;
							if (newVidHeight < 500) {
								newVidHeight = 500;
								newVidWidth = newVidHeight * vidWidth / vidHeight;
							}
							if(newVidWidth > windowWidth) {
								marginLeft = -((newVidWidth - windowWidth) / 2);
							}
							if(newVidHeight > 720) {
								marginTop = -((newVidHeight - $('#tm-video-container').height()) / 2);
							}
							const tmVideo = $('#tm-video');
							tmVideo.css('width', newVidWidth);
							tmVideo.css('height', newVidHeight);
							tmVideo.css('margin-left', marginLeft);
							tmVideo.css('margin-top', marginTop);
						}
						$(document).ready(function () {
							/************** Video background *********/
							setVideoSize();
							// Set video background size based on window size
							let timeout;
							window.onresize = function () {
								clearTimeout(timeout);
								timeout = setTimeout(setVideoSize, 100);
							};
							// Play/Pause button for video background      
							const btn = $("#tm-video-control-button");
							btn.on("click", function (e) {
								const video = document.getElementById("tm-video");
								$(this).removeClass();
								if (video.paused) {
									video.play();
									$(this).addClass("fas fa-pause");
								} else {
									video.pause();
									$(this).addClass("fas fa-play");
								}
							});
						})
					</script>
					
</body>
</html>